body {
    text-align: center;
    background-color: #aad3df;
    overflow: hidden;
}
header {
    position: sticky;
    top:0;
}
#map {
    position:fixed;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.county-name {
    background-color: #000;
    color:#FFF;
    padding:5px;
}
li {
    display:inline-block;
}
